@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playball&display=swap');


.home-title{
    font-family: 'Playball', sans-serif;
    font-size: 2em;

}
.msg{
    background-color:aliceblue;
    line-height: 1.5em;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
    color: black;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725 px;
    background-color:aliceblue ;
}
body{
    background-color:aliceblue;
    font-family: 'EB Garamond', 'Helvetica', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin:0;
}
header{
    background-color: #589594;
}
nav a:hover{
    background-color: bisque;
    color: black;
}
.book, .join{
    background-color:aqua;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #704e2e;
    color: black;
}
.msg{
    background-color: aliceblue;
    padding: 35px;
}
footer{
    background-color: #589594;
    color: black;
    margin-top: 200px;
}
.home-title{
    color: black;
    margin-top: 10px;
}
.msg h2{
    color: black;
}
.msg p{
    color: black;
    padding-bottom: 15px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: black;
}
.icon {
    width: 80px;
    padding-top:10px;
}
.logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
    padding: 25px 50px;
}   
footer p a:hover {
    text-decoration: underline;
}    
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;

}
.card-img{
    border:10px solid  aliceblue; 
}
main section img{
    box-sizing: border-box;
}