
.msg{
    background-color:#F9F3F1;
    line-height: 1.5em;
}

#content{
    max-width: 100%;
    margin: 0 auto;
    background-color: #F9F3F1;
}
nav a{
    text-align: center;
    color: #F9F3F1;
    text-decoration: none;
    padding: 35px;
    padding-top: 60px;
}
header{
   
    background-color: #59849B;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: Old Standard TT, sans-serif;
    font-size: 2em;
    border-bottom: 2px solid #BB4430;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover{
    background-color: #68A691;
    color: black;
}
.logo{
    width: 150px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer{
    background-color: #59849B;
    color: #F9F3F1;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -100px;
    border-top: 2px solid #BB4430;
}
footer p {
    font-size: 1.2em;
    padding: 25px 50px;
}   
footer p a:hover {
    text-decoration: underline;
    color: #F9F3F1;
} 

.intro-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr .25fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .25fr .25fr .25fr .5fr .5fr .25fr .25fr;
}

.index-title{
    text-align: center;
    grid-column: 5/6;
    grid-row: 1/2;
    z-index: 1;
    font-family: Old Standard TT, sans-serif;
    text-decoration: underline;
}

.face{
    max-width: 100%;
    grid-column: 2/5;
    grid-row: 2/5;
    border: 3px solid black ;
 
}
.splash{
    max-width: 80%;
    grid-column: 6/9;
    grid-row: 2/3;
}
.intro-msg{
    grid-column: 6/8;
    grid-row: 3/7;
    margin: auto;
    font-family: Assistant, sans-serif;
    font-size: 1.2vw;
    border: 5px double Black;
}
/*Page 2*/

.grid2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr .25fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .25fr .25fr .25fr .5fr .5fr .25fr .25fr;
}
.msg2{
    grid-row: 2/6;
    grid-column: 3/5;
    font-family: Assistant, sans-serif;
    font-size: 1.2vw;
    border: 5px double Black;

}
.title2{
    text-align: center;
    grid-row: 1/2;
    grid-column: 5/6;
    font-family: Old Standard TT, sans-serif;
    font-size: large;
    text-decoration: underline;
}
.mission{
   max-width: 100%;
    grid-row: 2/4;
    grid-column: 6/8;
}
.Maine{
    max-width: 100%;
    grid-row: 5/7;
    grid-column: 6/8;
}
